.list {
  display: flex;
  gap: 16px;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 160px;
  height: 160px;

  border-radius: 50%;

  font-size: 32px;
  letter-spacing: 0.01em;
}
.red {
  background-color: rgb(227, 86, 86);
}
.green {
  background-color: rgb(109, 183, 109);
}
.white {
  background-color: white;
  border-color: rgb(116, 113, 113);
}
.gray {
  background-color: rgb(205, 202, 202);
}
